/*
  * My porfolio by @Lcm
  * Version: 1.0.0
  * Copyright 2023 @Lcm
*/
/* ------------------------------------
  1. Span Tittle
  2. Buttons Container
  3. Image
  4. Sections
    4.1 Home
    4.2 About
------------------------------------ */

/* Span Title */
  .tittle__color{
    color: var(--color-blue);
    text-shadow: 0px 0px 15px var(--color-blue);
    cursor: pointer;
    transition: all 0.3s;
  }
  .tittle__color:hover{
  .tittle__color:hover{
    color: #52ebff;
    text-shadow: 0px 0px 30px var(--color-blue);
    text-shadow: 0px 0px 30px var(--color-blue);
  }
/* End Span Title */

/* Buttons Container */
  .buttons__container{
    display: flex;
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
/* End Buttons Container */
/* End Buttons Container */

/* Image */
  .image{
    position: relative;
    width: calc(350px - 6px);
    height: auto;
    border-radius: 20px;
    border: 3px solid var(--color-pink);
    box-shadow: 0px 0px 30px var(--color-pink);
    object-fit: cover;
    object-position: center;
  }
/* End Image */

/* Sections */
  /* Home */
    .home{
      position: relative;
      min-height: 800px;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: -90px;
    }
  /* End Home */
  /* About */
    .about{
      position: relative;
      min-height: 100vh;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      align-content: center;
      gap: 20px;
    }
    .about__description{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .image__container{
      display: flex;
      justify-content: center;
    }
  /* End About */
/* End Sections */

/* Responsive */
  @media (max-width: 768px) {
    .buttons__container{
      justify-content: center;
    }
  }
/* End Responsive */

/* 
TODO: ADD this code in some component
."your__component"::before{
  position: absolute;
  content: '';
  top: 0px;
  left: -60px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #00e1ffaf;
  filter: blur(200px);
} 
*/