#root {
  max-width: 1500px;
  margin: 0 auto;
  padding-right: 200px;
}

/* @media (max-width: 768px) {
  #root {
    padding-right: 0px;
  }
} */
@media screen and (max-width:  985px) {
  #root {
    padding-right: 0px;
  }
}