@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Quicksand:wght@400;600&family=Righteous&display=swap');
:root {
  font-family: Quicksand, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #011A30;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background-color: #011527;
}
::-webkit-scrollbar-thumb {
  background: #f3f3f36e;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #f3f3f3bd;
}

::selection {
  background-color: #f3f3f32a;
  color: #00adc4;
}

h1 {
  font-size: 3.2em;
  margin: 0;
}
p {
  font-size: 1.2em;
  margin: 0;
}

button{
  width: 170px;
  border-radius: 20px;
  font-family: 'Quicksand';
  padding: 10px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  user-select: none;
}
button:active{
  transform: scale(0.95);
}

.buttonPrimary {
  background: linear-gradient(90deg, #f5aa39, orange);
  box-shadow: 0 0 20px orange;
  transition: all 0.3s ease;
}
.buttonPrimary:hover {
  box-shadow: 0 0 30px orange;
}
.btnSecun {
  /* background-color: #BD0C7A; */
  background: linear-gradient(90deg, #BD0C7A, #DE5FA0);
  transition: all 0.3s ease;
}
.btnSecun:hover {
  box-shadow: 0 0 15px #BD0C7A;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
